.o-gutter {
    padding-left: spacing(0);
    @include breakpoint('m'){
        padding-left: spacing(2);
    }

    padding-right: spacing(0);
    @include breakpoint('m'){
        padding-right: spacing(2);
    }
    
}